.incent_bg{width: 100%; min-height: 500px; background: white; font-size: 14px;
    border: 1px solid #267fd3; border-radius: 5px; padding: 25px 50px; margin-bottom: 30px;
  }
  .top_bg{
    width: 100%;
    background-image: linear-gradient(to right, #4a42d4 , #267fd3);
    color: #ffffff; padding: 10px 20px 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .savebutton {
    background: #267fd3;
    border: 1px solid #267fd3;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
  .table-responsive{height: 350px;}
  
  .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
  
  
  .table-responsive::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #267fd3;
    border-radius: 3px;
  }

  .incent{margin-bottom: 30px;}
  
  .incent select{​​​​​​​​width: 100%;width: 31%; height: 35px; outline: none; border:1px solid #267fd3; padding: 010px!important; color: black; font-size: 12px; border-radius: 3px; appearance: none;}
  
  
  