
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
          <div class="Nrep2_bg">
                  <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-10 ">
                              <div class="row">
                                <div class="data">
                                  <select class="NR_dropdwn">
                                      <option>ALL STORES</option>
                                  </select>
                                </div>
                                <div class="date">
                                    <div class="md-form">
                                        <input type="date"  class="datepicker">
                                    </div>
                                </div>
                                <div class="col-lg-2  ms-auto ">
                                   <div class="d-flex align-items-center export"><div>Export to excel</div>  <span><img src="../../assets/images/export.png" style="margin:-5px 0 0 5px;"></span></div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="button2">
                                    <ul>
                                        <li><a routerLink=""  class="active">Summary</a></li>
                                        <li><a routerLink="">F&I</a></li>
                                        <!-- <li><a routerLink="">Service</a></li>
                                        <li><a routerLink="">Appointments</a></li> -->
                                        <li><a routerLink="">Deals</a></li>
                                        <li><a routerLink="">Sales people</a></li>
                                      </ul>
                                </div>
                              </div>
                      </div>
                  </div>
                  <div class="row">
            
                    <div class="col-lg-12 p-0">
                      <div class="Nrep2">
                         <!-- <div class="nrept">
                          <div class="tr">
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                          </div>
                          <div class="tr">
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                          </div>
                          <div class="tr">
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                          </div>
                          <div class="tr">
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                            <div>bvg</div>
                          </div>

                        </div>  -->
                        <div class="nr_curve"> 
                        <table>
                              <thead>
                                <tr >
                                  <th></th>
                                  <th ></th>
                                  <th class="_ttl">Today</th>
                                  <th ></th>
                                  <th class="_ttl">mtd</th>
                                  <th ></th>
                                  <th class="_ttl">pace </th>
                                  <th ></th>
                                  <th class="_ttl">budget </th>
                                  <th ></th>
                                  <th class="_ttl">variance </th>
                                  <th ></th>
                                  <th class="_ttl">commitment</th>
                                  <th ></th>
                                  <th class="_ttl">variance</th>
                                  <th ></th>
                                  <th class="_ttl">last month</th>
                                  <th ></th>
                                  <th class="_ttl">variance</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr >
                                  <td>New</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                 
                                </tr>
                                <tr>
                                  <td>Pre-owned</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">34</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">28</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">10</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">70</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$43,000</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  
                                </tr>
                                <tr class="s_tot">
                                  <td class="odd">Sub Total</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                </tr>
                                <tr>
                                  <td class="even" style="text-transform: uppercase; color: #f89d1c;  font-family: 'Gotham\ Bold';;">New gross</td>
                                  <td class="even" style="background: transparent !important;"></td>                                        
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                </tr>
                                <tr>
                                  <td class="odd">Front</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                </tr>
                                <tr>
                                  <td class="even">Back</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">34</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">28</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">10</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">70</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$43,000</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                </tr>
                                <tr class="s_tot">
                                  <td class="odd">Sub Total</td>
                                  <td class="odd" style="background: transparent !important;"></td>

                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                </tr>
                                <tr>
                                  <td class="even" style="text-transform: uppercase; color: #f89d1c;  font-family: 'Gotham\ Bold';;">Pre-owned gross</td>
                                  <td class="even" style="background: transparent !important;"></td>   
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even"></td>
                                </tr>
                                <tr>
                                  <td class="odd">Front</td>
                                  <td class="odd" style="background: transparent !important;"></td>

                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                </tr>
                                <tr>
                                  <td class="even">Back</td>
                                  <td class="even" style="background: transparent !important;"></td>

                                  <td class="even">34</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">28</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">10</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">70</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$43,000</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$32,777</td>
                                </tr>
                                <tr class="s_tot">
                                  <td class="odd">Sub Total</td>
                                  <td class="odd" style="background: transparent !important;"></td>

                                  <td class="odd">34</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">28</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">10</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">70</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$43,000</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                  <td class="odd" style="background: transparent !important;"></td>
                                  <td class="odd">$32,777</td>
                                </tr>
                                <tr class="tot">
                                  <td class="even" style="text-transform: uppercase; color: #f89d1c;  font-family: 'Gotham\ Bold';;">Total</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$91,897</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$841,402</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$6,055,385</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$6,560,555</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">-$505,385</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">0</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">0</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">$9,055,385</td>
                                  <td class="even" style="background: transparent !important;"></td>
                                  <td class="even">-$6,055,385</td>
                                </tr>
                              </tbody>
                          </table>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   <div class="col-lg-5 p-0"> 
                        <div class="prod-pen">
                          <div class="nr_curve">
                             <table>
                               <thead>
                                 <tr>
                                   <th></th>
                                   <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                   <th>Day%</th>
                                   <th style=" width: 2%; "></th>
                                   <th>MTD%</th>
                                   <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                 </tr>
                               </thead>
                               <tbody>
                                <tr>
                                  <td class="even" style="text-transform: uppercase; color: #f89d1c; word-break: break-all;  font-family: 'Gotham\ Bold';">Product <br>penetration</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even"></td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even"></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                </tr>
                                <tr>
                                  <td class="odd" >VSC</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td class="odd">71%</td>
                                  <td style=" width: 2%; "></td>
                                  <td class="odd">56%</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                </tr>
                                <tr>
                                  <td class="even" >Execushield</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even">54%</td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even">50%</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                </tr>
                                <tr>
                                  <td ></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even">&nbsp;</td>
                                  <td style=" width: 2%; "></td>
                                  <td class="even">&nbsp;</td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                  <td style=" width: 2%; "></td>
                                </tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                       
                    </div> 
                    <div class="col-lg-6 ms-auto p-0"> 
                      <div class="lenders">
                        <div class="nr_curve">
                           <table>
                             <thead>
                               <tr>
                                 <th></th>
                                 <td style=" width: 2%; "></td>
                                 <td style=" width: 2%; "></td>
                                 <th>Day%</th>
                                 <th style=" width: 2%; "></th>
                                 <th>MTD%</th>
                                 <td style=" width: 2%; "></td>
                                 <th>$MTD</th>
                                 <td style=" width: 2%; "></td>
                                 <td style=" width: 2%; "></td>
                               </tr>
                             </thead>
                             <tbody>
                              <tr>
                                <td class="even" style="text-transform: uppercase; color: #f89d1c; word-break: break-all;  font-family: 'Gotham\ Bold';">lenders</td>
                                <td style=" width: 2%; "></td>
                                <td style=" width: 2%; "></td>
                                <td class="even"></td>
                                <td style=" width: 2%; "></td>
                                <td class="even"></td>
                                <td style=" width: 2%; "></td>
                                <td class="even"></td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td class="odd" >Captive</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="odd">99%</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">37%</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">$3,419,024</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td class="even" >Chase</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="even">57%</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">21%</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">$2,591,822</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td class="odd" >US Bank</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="odd">46</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">17%</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">$2,591,822</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td class="even" >Ally</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="even">16</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">6%</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">$2,591,822</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td class="odd" >Cash</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="odd">104</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">39%</td>
                                <td style=" width: 2%; "></td>
                                <td class="odd">$4,591,822</td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                              </tr>
                              <tr>
                                <td ></td>
                                <td style=" width: 2%; "></td>
                                   <td style=" width: 2%; "></td>
                                <td class="even">&nbsp;</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">&nbsp;</td>
                                <td style=" width: 2%; "></td>
                                <td class="even">&nbsp;</td>
                                <td style=" width: 2%; "></td>
                                <td style=" width: 2%; "></td>
                              </tr>
                            </tbody>
                           </table>
                        </div>
                      </div>
                     
                  </div> 
                  </div>
          </div>
        </div>
    </div>
</div>